<style>
    .profileedit-none {
        display: none;
    }
    #profileedit:checked ~ .profileedit-none {
        display: block;
    }
</style>

<div class="container-fluid">
   
    <div class="">
        <div class="row">
            <div class="col-lg-12 col-xl-1"></div>

            <div class="col-lg-12 col-xl-10">
                <h3 class="color title m-0 p-2" style="font-weight: 400;">Thông tin cá nhân</h3>
                <div class="card border-top">
                    <div class="mt-0">
                        <div class="border-1 text-center">
                            <!-- <h4 class=" m-2">Tài Khoản</h4> -->
                            <div class=" pt-2">
                                <img src="https://e7.pngegg.com/pngimages/705/224/png-clipart-user-computer-icons-avatar-miscellaneous-heroes.png"
                                    class="rounded-circle avatar-md" style="">
                            </div>
                            <div class="">
                                <a class=" m-0 p-0">
                                    <div class="">
                                        <span class=""><h6 class="mb-0 p-0"> Khách Hàng </h6></span>
                                        <span class=""><h5 class="m-0"> {{userprofile.fullname}} </h5></span>
                                        <span><h5 class=" p-1 m-0 color">Số Dư :   <span> {{userprofile.money}} </span><i class=" fe-dollar-sign"  style="border: 1px solid; border-radius: 50%;"></i></h5></span>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="profile-block text-start border-1">
                            <div class="table-responsive m-0" style="display: flex;">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <table class="table table-borderless table-sm p-0 m-0">
                                        <tbody>
                                            <tr>
                                                <th class="col-md-5" scope="row"><h4>Tên Đăng Nhập :</h4></th>
                                                <td class="text-muted"><h4>{{username}}</h4></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-5" scope="row"><h4>Họ & Tên :</h4></th>
                                                <td class="text-muted"><h4>{{userprofile.fullname}}</h4></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-5" scope="row"><h4>SĐT:</h4></th>
                                                <td class="text-muted"><h4>{{userprofile.phone}}</h4></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-5" scope="row"><h4>Tuổi :</h4></th>
                                                <td class="text-muted"><h4>{{userprofile.gender}}</h4></td>
                                            </tr>
                                            <tr>
                                                <th class="col-md-5" scope="row"><h4>Giới Tính :</h4></th>
                                                <td class="text-muted"><h4>{{userprofile.address}}</h4></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        <form  role="form" class="parsley-examples m-3 mt-1 mb-1" [formGroup] = "changePasswordForm" (ngSubmit)="changePassword()"> 
                            <div class="mb-2">
                                <label for="oldPassword" class="form-label">Mật Khẩu Cũ<span class="text-danger">*</span></label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="oldPassword" class="form-control" placeholder="Enter Password" formControlName="oldPassword">
                                    
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-2">
                                <label for="password2" class="form-label">Mật Khẩu Mới<span class="text-danger">*</span></label>
                                <input type="password" id="password2" required minlength="6" class="form-control" placeholder="Enter password">
                            </div>
                            <div class="mb-2">
                                <label for="newPassword" class="form-label">Nhập Lại Mật Khẩu<span class="text-danger">*</span></label>
                                <input data-parsley-equalto="#password2" type="password" id="newPassword" required minlength="6" class="form-control" placeholder="Enter password" formControlName="newPassword">
                            </div>
                            <div class="col-md-12" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <div class="text-center p-1 col-md-6 col-xl-6">
                                    <button data-bs-toggle="modal" style="width: 100%; font-size: 14px; background-color: green;" type="submit"
                                    class="btn btn-sm btn-success p-2 " title="Thanh Toán"> Đổi Mật Khẩu </button>
                                </div>
                                <div class="text-center p-1 col-md-6 col-xl-6">
                                    <a data-bs-toggle="modal" style="width: 100%; font-size: 14px;" data-bs-target="#profileEditfile"
                                    class="btn btn-sm btn-primary p-2 " (click)="onEditClick()" title="Thanh Toán"> Sửa Thông Tin </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>

            <div class="col-lg-12 col-xl-1">
                <div class="card">
                    <!-- <div class="border-top border-1">
                        <div class="border-1">
                            <h4 class="m-2">Cấp Bậc</h4>
                        </div>
                        <div class="card-body p-0" style="display: flex;">
                            <div class="col-md-4 m-2" style="background-color: purple; border: 1px solid purple; border-radius: 5px;">
                                <h4 class="text-center p-3" style="color: #fff;">Lever 1 </h4>
                            </div>
                            <div class="col-md-8 m-2">
                                <h5>Tân Thủ Sơ Cấp</h5>
                                <h5>Hạng Nick : </h5>
                                <h5>1,0000 <span>Nick</span></h5>
                            </div>
                        </div>
                        <div class="card-body p-0" style="display: flex;">
                            <div class="col-md-4 m-2" style="background-color: green; border: 1px solid green; border-radius: 5px;">
                                <h4 class="text-center p-3" style="color: #fff;">Lever 2 </h4>
                            </div>
                            <div class="col-md-8 m-2">
                                <h5>Hạng Trung Cấp</h5>
                                <h5>Hạng Nick : </h5>
                                <h5>5,0000 <span>Nick</span></h5>
                            </div>
                        </div>
                        <div class="card-body p-0" style="display: flex;">
                            <div class="col-md-4 m-2" style="background-color: #0056C1; border: 1px solid #0056C1; border-radius: 5px;">
                                <h4 class="text-center p-3" style="color: #fff;">Lever 3 </h4>
                            </div>
                            <div class="col-md-8 m-2">
                                <h5>Hạng VIP</h5>
                                <h5>Hạng Nick : </h5>
                                <h5>10,0000 <span>Nick</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger m-1">
                        <h4 class="text-danger p-1"><i class="fa-solid fa-triangle-exclamation"></i>  Chú Ý  </h4>
                        <p>- Hệ thống sẽ tự động cập nhật sau khoang 5 phút kể từ khi tài khoản thay đổi hoặc thêm thông tin.</p>
                        <p>- Mỗi Levers sẽ có bảng giá riêng cho từng dịch vụ và nhiều ưu đãi đặc biệt khác.</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Sửa -->
<div class="modal fade" id="profileEditfile" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-1 p-2">
                <h4 class="modal-title color" id="exampleModalToggleLabel">Sửa Thông Tin Cá Nhân</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="text-start">
                    <div class="table-responsive">
                        <form  role="form" [formGroup]= "profileeditform" (ngSubmit)="profileedit()">
                            <div>
                                <div class="p-2">
                                    <table class="table table-borderless table-sm m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Họ & Tên :</th>
                                                <td class="text-muted">
                                                    <input type="text" class="form-control" style="width: 100%;" id="fullname" formControlName="fullname"/>
                                                </td> 
                                            </tr>
                                            <tr>
                                                <th scope="row">SĐT :</th>
                                                <td class="text-muted">
                                                    <input type="text" class="form-control" style="width: 100%;" id="phone" formControlName="phone"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Tuổi :</th>
                                                <td class="text-muted">
                                                    <input type="text" class="form-control" style="width: 100%;" id="gender" formControlName="gender"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Giới Tính :</th>
                                                <td class="text-muted">
                                                    <input class="form-control" list="icon-giơitinh-add" style="width: 100%;" id="address" formControlName="address"/>
                                                    <datalist id="icon-giơitinh-add">
                                                        <option value="Nam"></option>
                                                        <option value="Nữ"></option>
                                                        <option value="Khác.."></option>
                                                    </datalist>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
    
                                <div class="modal-footer p-0" style=" border-top: 1px solid #0056C1;">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"> Hủy </button>
                                    <button class="btn btn-primary" type="submit" data-bs-dismiss="modal" aria-label="Close"> Cập Nhật </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- xóa -->
<div class="modal fade" id="DeleteBank" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-1">
                <h4 class="modal-title color" id="exampleModalToggleLabel">Cảnh báo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-1">Bạn có chắc chắn muốn xóa hết dữ liệu?</div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                    data-bs-dismiss="modal" (click)="Delete()">
                    Xóa 
                </button>
            </div>
        </div>
    </div>
</div>