.color {
    color: #0056C1;
}
.bor-nav-item {
    border-top: 3px solid #0056C1;
}
.bor-nav-maneybank {
    border: 1px solid #0056C1;
}
.input-banner {
    border: 1px solid #0056C1;
    width: 40%; 
    height: 30px;
}
.tr-hover:hover {
    background-color: #dee2e6 !important;
}
.bx:hover {
    color: #fff;
    border-radius: 3px;
    background-color: #0056C1;
}
.nav-link {
    color: black !important;
}