<div class="row" id="HistoryManey">
    <div class="col-12">
        <div class="card p-3">
            <ul class="nav bor-nav-item m-0 col-md-12" style="display: flex; justify-content: space-between;">
                <li class="nav-item">
                    <h4 class="color">Danh Sách Cộng Tác Viên</h4>
                </li>
                <li class="nav-item text-center col-md-6">
                    <h5 class="header-title color"> SHOW: <input class="input-banner" type="number" value="20"> cộng tác viên.</h5>
                </li>
            </ul>
            <div class="">
                <div class="table-responsive">
                    <table id="tech-companies-1" class="table">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th data-priority="3">Họ & Tên</th>
                                <th data-priority="3">Tài Khoản</th>
                                <th data-priority="2">Ngày Tham Gia</th>
                                <th data-priority="1">SL Nick </th>
                                <th data-priority="2">Thời Gian Chạy</th>
                                <th data-priority="2">Thành Tiền</th>
                                <th data-priority="" class="text-center">Tác Vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="tr-hover">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">Nguyễn Văn A</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><i class=" bx bx-phone-call mr-1"></i><span>123 456 789</span></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link p-0"  href="#">VietComBank</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">TK: <span>123 456 789 12</span></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td class="text-center">
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>

                            </td>
                        </tr>

                        <tr class="tr-hover">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">Nguyễn Văn A</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><i class=" bx bx-phone-call mr-1"></i><span>123 456 789</span></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link p-0"  href="#">VietComBank</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">TK: <span>123 456 789 12</span></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td class="text-center">
                                <a href="#" class="bx bx-pencil p-1"></a>
                                <a href="#" class="bx bx-trash p-1"></a>

                            </td>
                        </tr>
                        <tr class="tr-hover">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">Nguyễn Văn A</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><i class=" bx bx-phone-call mr-1"></i><span>123 456 789</span></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <a class="nav-link p-0"  href="#">VietComBank</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active p-0" href="#">TK: <span>123 456 789 12</span></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td class="text-center">
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>

                            </td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>