
<div class="container-fluid">
    <ul class="nav m-0 col-md-12" style="display: flex; justify-content: space-between;">
        <h1 class="color fw-light col-md-6"> Danh Sách Cộng Tác Viên </h1>
        <h5 class="color fw-light col-md-6 text-center">  SHOW: <input class="input-banner" type="number" value="20"> cộng tác viên. </h5>
    </ul>
    <div class="card bor-nav-item">
        <div class="card-body">
            <div class="">
                <div class="table-responsive">
                    <table id="tech-companies-1" class="table">
                        <thead class="table-light">
                            <tr class="text-center">
                                <th>#</th>
                                <th data-priority="3">Họ & Tên</th>
                                <th data-priority="3">Tài Khoản</th>
                                <th data-priority="2">Ngày Tham Gia</th>
                                <th data-priority="1">SL Nick </th>
                                <th data-priority="2">Thời Gian Chạy</th>
                                <th data-priority="2">Thành Tiền</th>
                                <th data-priority="">Tác Vụ</th>
                            </tr>
                        </thead>
    
                        <tbody>
                        <tr class="tr-hover text-center">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">Nguyễn Văn A</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx bx-phone-call"><span class="ms-1 fw-light">123 456 789</span></strong></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">VietComBank</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx fw-normal">TK : <span>123 456 789 12</span></strong></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td>
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>
        
                            </td>
                        </tr>
    
                        <tr class="tr-hover text-center">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">Nguyễn Văn A</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx bx-phone-call"><span class="ms-1 fw-light">123 456 789</span></strong></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">VietComBank</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx fw-normal">TK : <span>123 456 789 12</span></strong></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td>
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>
        
                            </td>
                        </tr>
    
                        <tr class="tr-hover text-center">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">Nguyễn Văn A</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx bx-phone-call"><span class="ms-1 fw-light">123 456 789</span></strong></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">VietComBank</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="fw-normal">TK : <span>123 456 789 12</span></strong></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td>
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>
        
                            </td>
                        </tr>
    
                        <tr class="tr-hover text-center">
                            <td>1</td>
                            <th class="co-name p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">Nguyễn Văn A</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx bx-phone-call"><span class="ms-1 fw-light">123 456 789</span></strong></a>
                                    </li>
                                </ul>
                            </th>
                            <td class="p-0 m-0">
                                <ul class="nav p-1" style="display: block;">
                                    <li class="nav-item">
                                        <p class="nav-link active p-0 m-0">VietComBank</p>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link p-0" href="#"><strong class="bx fw-normal">TK : <span>123 456 789 12</span></strong></a>
                                    </li>
                                </ul>
                            </td>
                            <td>597.74</td>
                            <td>582</td>
                            <td>14.81 (2.54%)</td>
                            <td>597.95</td>
                            <td>
                                <a href="" class="bx bx-pencil p-1"></a>
                                <a href="" class=" bx bx-trash p-1"></a>
        
                            </td>
                        </tr>
        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>