<script>
</script>
<div id="wrapper">
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-end mb-0 he-60" style="margin-right: 60px; margin-top: -14px;">

                <li class="dropdown d-none d-lg-inline-block menu-hover" data-toggle="fullscreen" >
                    <a class="nav-link waves-effect waves-light he-60" title="phóng to & thu nhỏ">
                        <i class="fe-maximize noti-icon font-18 p-1"></i>
                    </a>
                </li>

                <li class="dropdown d-none d-lg-inline-block menu-hover p-0"
                 title="ngôn ngữ">
                    <a class="nav-link waves-effect waves-light font-14 he-60" data-bs-toggle="dropdown">
                        <span class="font-16" style="border: 1px solid #fff; margin-right: 4px;">
                            <i class="fa-solid fa-language p-1" style=""></i>
                        </span>
                        <span class="">Select Language</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Đức</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Ý</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Tây Ban Nha</span>
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Nga</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown d-none d-lg-inline-block menu-hover p-0">
                    <a class="nav-link waves-effect waves-light he-60 font-13" data-bs-toggle="dropdown" >
                        <i class="fe-user"></i>
                        <span class="menu-arrow" style="position: static !important;"></span> 
                    </a>
                    <div class="dropdown-menu dropdown-menu-end profile-dropdown font-12"  style="background-color: rgb(245, 247, 245); box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);">
                        <p class="border-1 p-1 m-0">WelCom Back!!!</p>
                        <a routerLink="profile" class="dropdown-item notify-item">
                            <i class="ri-account-circle-line"></i>
                            <span>Hồ sơ cá nhân</span>
                        </a>
                        <a routerLink="javascript:void(0)" class="dropdown-item notify-item">
                            <i class=" ri-bank-card-line"></i>
                            <span>Nâng cấp tài khoản <span id="flash">Up</span></span>
                        </a>
                        <div class="border-1"></div>
                        <a routerLink="#" class="dropdown-item notify-item" (click)="logout()">
                            <i class="bx bx-log-out"></i>
                            <span>Đăng xuất</span>
                        </a>
                    </div>
                </li>

            </ul>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li class="he-55">
                    <button class="button-menu-mobile waves-effect waves-light he-55">
                        <div class="menu-hover" style="margin-top: -16px; height: 60px;">
                            <i class="fe-menu font-18"></i>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="left-side-menu" style="padding-top: 55px !important;">
        <div class="logo-box">
            <a routerLink="service-getbyplatfrom" class="logo logo-light text-center" title="trang chủ">
                <span class="logo-sm">
                    <img src="assets/images/users/avatar-1.jpg" height="24">
                </span>
                <span class="logo-lg">
                    <img src="assets/images/logo-light.png" height="20">
                </span>
            </a>
        </div>
        <div class="h-100" >
            <div id="sidebar-menu">
                <ul id="side-menu">
                    <div class="text-center">
                        <img src="https://e7.pngegg.com/pngimages/705/224/png-clipart-user-computer-icons-avatar-miscellaneous-heroes.png"
                            class="rounded-circle avatar-md" style="">
                    </div>
                    <li class="border-1" data-bs-toggle="dropdown">
                        <a class=" m-1 p-0" style="cursor: pointer;">
                            <span class="text-center"><h5> {{userprofile.fullname}} </h5></span>
                            <span><h5 class="p-1 m-0">Số Dư : <span style="float: right;"> {{userprofile.money}} </span></h5></span>
                            <div class="dropdown-menu user-pro-dropdown" style="background-color: rgb(245, 247, 245); box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);">
                                <p class="border-1 p-1 m-0">WelCom Back!!!</p>
                                <a routerLink="profile" class="dropdown-item notify-item">
                                    <i class="ri-account-circle-line"></i>
                                    <span>Hồ sơ cá nhân</span>
                                </a>
                                <a routerLink="javascript:void(0)" class="dropdown-item notify-item border-1">
                                    <i class=" ri-bank-card-line"></i>
                                    <span>Nâng cấp tài khoản <span id="flash">Up</span></span>
                                </a>
                                <a routerLink="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
                                    <i class="fe-log-out me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </a>
                    </li>
                    <li class="menu-hover-a">
                        <a routerLink="service-getbyplatfrom">
                            <i class=" ri-qr-code-line"></i>
                            <span> Dịch Vụ </span>
                        </a>
                    </li>

                    <li class="menu-hover-a">
                        <a routerLink="deposit-money">
                            <i class=" ri-refund-line"></i>
                            <span> Nạp BINANCE </span>
                        </a>
                    </li>

                    <li class="menu-hover-a" *ngFor="let menu of menu">
                        <a href="#Dashboards{{menu.id}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="Dashboards">
                            <span> {{menu.platfrom}} </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="Dashboards{{menu.id}}">
                            <ul class="nav-second-level">
                                <li class="menu-hover-li" *ngFor="let service of menu.service">
                                    <a [routerLink]=[service.path]> {{service?.title}} </a>
                                </li>
                    
                            </ul>
                        </div>
                      
                    </li>

                    <li class="menu-hover-a">
                        <a routerLink="user-collaborators">
                            <i class="fe-users"></i>
                            <span> Cộng Tác Viên </span>
                        </a>
                    </li>

                    <li class="menu-hover-a">
                        <a routerLink="javascript:void(0)">
                            <i class="bx bx-shield-quarter"></i>
                            <span> Điều Khoản & Dịch Vụ </span>
                        </a>
                    </li>

                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="row"><div class="col-12" style="height: 0px;"></div>
    </div>

        <router-outlet></router-outlet>
       
        <footer class="footer card m-0">
            <div class="container-fluid">
                <div class="row font-12">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> &copy; <a href="#" class="font-16">2023 INSOLTECH</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- <div>
        <div class="navbar-hotro chuyendonghotro-1 p-2" title="Nhân Viên Tư Vấn 24/7">
            <div class="chuyendonghotro-2">
                <a class="menu-hotro" href="#">
                    <i class="fe-phone-call p-1"></i>
                </a>
            </div>
        </div>
    </div> -->
</div>

        