<div class="container-fluid">
    <h1 class="color fw-light col-md-12"> Điều Khoản & Dịch Vụ </h1>
    <div class="">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="card border-top">
                    <div class="mt-0">
                        <div class="card-body">
                            <p><span class="color"> -> </span> Bạn đồng ý việc sử dụng dịch vụ của <strong>App Mua Like</strong> thông qua việc đồng ý điều khoản của chúng tôi. Bằng việc đăng ký tài khoản, bạn đã đọc và hiểu toàn bộ các điều khoản. <strong>App Mua Like</strong> không giúp đỡ về mặt pháp lý hay bất kỳ lý do nào khác với người dùng.</p>
                            <p><span class="color"> -> </span> <strong>App Mua Like</strong> không hoàn toàn cam kết đúng chuẩn xác về thời gian trong các dịch vụ. Chúng tôi đưa ra dự kiến tương đối chính xác nhất về thời gian chạy của các server. Điều này chỉ là ước lượng và được thống kê tại mục: "Xem chi tiết" bên cạnh các sever.</p>
                            <p><span class="color"> -> </span> Chúng tôi sẽ có sự thay đổi phù hợp về chính sách khi có thông báo, bạn có trách nhiệm đọc toàn bộ chính sách và điều khoản trước khi thực hiện bất kỳ đơn hàng nào.</p>
                            <p><span class="color"> -> </span> Phương thức thanh toán có thể thay đổi tùy thời điểm.</p>
                            <p><span class="color"> -> </span> Các dịch vụ nếu không ghi rõ quốc gia cụ thể mặc định là Việt Nam hoặc đa quốc gia.</p>
                            <p><span class="color"> -> </span> Nghiêm cấm buff các nội dung đồi trụy, vi phạm pháp luật, chính trị... Nếu cố tình buff bạn sẽ bị trừ hết tiền, band khỏi hệ thống vĩnh viễn và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
                            <p><span class="color"> -> </span> <strong>App Mua Like</strong> không chịu bất kỳ trách nhiệm nào gây hại cho bạn và công ty của bạn.</p>
                            <p><span class="color"> -> </span> <strong>App Mua Like</strong> không chịu trách nhiệm cho bất cứ hình ảnh hay nội dung nào trên các mạng xã hội.</p>
                            <h5><strong>Chú ý:</strong></h5>
                            <p><span class="color"> -> </span> Không sử dụng nhiều dịch vụ trong cùng 1 thời điểm (hoặc ở các nguồn cung cấp khác). Nếu bạn muốn sử dụng nhiều hơn với cùng 1 link, vui lòng đợi đơn hàng đã đặt báo Thành công hoặc Đã hủy. Chúng tôi không thể tăng con số chính xác nếu bạn sử dụng các dịch vụ khác. Chúng tôi sẽ không hoàn tiền hoặc bảo hành trường hợp này. Xin chú ý!</p>
                            <p><span class="color"> -> </span> Trường hợp đơn hàng bị tụt, vui lòng đợi chúng tôi hoàn trả lại dịch vụ hoặc số tiền trước khi đặt đơn hàng mới. Chúng tôi không thể tự động hủy ngay, nếu bạn đặt tiếp đơn hàng khi đang trong quá trình bảo hành, chúng tôi không chấp nhận bảo hành đơn hàng đó và bạn sẽ mất bảo hành.</p>
                            <p><span class="color"> -> </span> Hệ thống sẽ tự động đếm số khi bắt đầu, vì thế đừng hỏi chúng tôi đó là bao gồm VIEW/LIKE/SUBS...thật của bạn. Chúng tôi chỉ tính số bắt đầu và số kết thúc.</p>
                            <p><span class="color"> -> </span> Sau khi đặt hàng, nếu bạn tự ý thay đổi tên người dùng, để riêng tư tài khoản, riêng tư nội dung, đóng tài khoản, tài khoản bị khóa, link đặt hàng sai cấu trúc, sai điều kiện chạy. Chúng tôi không có trách nhiệm hoàn tiền hoặc xử lý đơn hàng của bạn.</p>
                            <p><span class="color"> -> </span> Nếu bạn đã chạy trên các hệ thống khác chúng tôi sẽ không bảo hành với link đó.</p>
                            <p><span class="color"> -> </span> Nếu bạn đặt đơn hàng sever "KHÔNG BẢO HÀNH" và sever "CÓ BẢO HÀNH" cho cùng 1 link. Chúng tôi sẽ không bảo hành cho link đó (CÓ BẢO HÀNH + KHÔNG BẢO HÀNH = KHÔNG BẢO HÀNH).</p>
                            <p><span class="color"> -> </span> Chúng tôi chỉ chấp nhận hủy đơn hàng nếu đơn hàng gặp lỗi của hệ thống, trường hợp lỗi từ phía bạn sẽ không được hoàn trả lại tiền.</p>
                            <p><span class="color"> -> </span> Nếu dịch vụ hiện tại đang bảo hành vĩnh viễn và đơn hàng đã hoàn thành xong trước đó. Khi xảy ra sự cố khiến server không thể hoạt động được để bảo hành. Chúng tôi có quyền dừng bảo hành đơn hàng đó.</p>
                            <p><span class="color"> -> </span> Các đơn hàng bảo hành vĩnh viễn có thể thay đổi thời gian bảo hành giữa chừng hoặc không thực hiện bảo hành phụ thuộc vào tình hình server lúc đó.</p>
                            <p><span class="color"> -> </span> Chúng tôi bảo hành căn cứ vào số ban đầu và kết thúc không phân biệt số view/like/sub... của bạn, nếu trong khoảng bộ đếm của đơn hàng chúng tôi sẽ thực hiện bảo hành nếu đủ yêu cầu.</p>
                            <p><span class="color"> -> </span> Link đủ điều kiện mua dịch vụ:</p>
                            <ul>
                            <li aria-level="1">Không đặt riêng tư tài khoản</li>
                            <li aria-level="1">Không chặn quốc gia</li>
                            <li aria-level="1">Không để chế độ bạn bè</li>
                            <li aria-level="1">Không bật giới hạn độ tuổi</li>
                            <li aria-level="1">Nếu link bị lỗi trong quá trình chạy do bạn thay đổi cài đặt chúng tôi sẽ không bảo hành.</li>
                            </ul>
                            <p><span class="color"> -> </span> Một số dịch vụ khi mua sẽ được tặng kèm thêm like/view/comment...chúng tôi không bảo hành quà tặng kèm theo này nếu bị tụt.</p>
                            <p><span class="color"> -> </span> Nếu đơn hàng không thực hiện sau 1 ngày hoặc tự động bị hủy đơn thì các bạn hãy dừng đặt loại server đó và thông báo với admin qua Zalo hoặc mục "Yêu cầu hỗ trợ" để xử lý.</p>
                            <p><span class="color"> -> </span> Không bảo hành nếu cấu trúc link bị thay đổi (VD: đổi tên khiến tên user thay đổi)</p>
                            <p><span class="color"> -> </span> Bất kỳ trường hợp đe dọa hoặc cố ý gây khó dễ, hiểu nhầm, gậy hại tới App Mua Like, chúng tôi sẽ khóa tài khoản.</p>
                            <p><span class="color"> -> </span> Khi đơn hàng đã thực hiện, nếu hệ thống gặp vấn đề thì đơn hàng đó sẽ được hoàn tiền tương ứng số còn thiếu của dịch vụ.</p>
                            <p><span class="color"> -> </span> Tất cả các dịch vụ từ hệ thống (ngoài dịch vụ chạy quảng cáo từ các mạng xã hội) đều có thể bị tụt nếu thuật toán trong tương lai của các mạng xã hội thay đổi, nếu dịch vụ khi KHÔNG TỤT có nghĩa là từ khi mở dịch vụ tới thời điểm hiện tại chưa xảy ra tình trạng tụt. Xin lưu ý.</p>
                            <h5>CÁC LỖI THƯỜNG GẶP</h5>
                            <ol>
                                <li>Đặt quá nhiều đơn hàng cùng 1 dịch vụ cho 1 link dẫn đến hệ thống không chạy.</li>
                                <li>Đặt sai cấu trúc link của dịch vụ cần chạy.</li>
                                <li>Đặt nhầm dịch vụ (ví dụ: mua follow cá nhân nhưng lại nhập vào dịch vụ mua follow Fanpage)</li>
                                <li>Không đọc hết điều khoản của website.</li>
                                <li>Không mở công khai trang cá nhân, like, sub... khi chạy dịch vụ tương ứng</li>
                                <li>Nhập link rút gọn thay vì link gốc</li>
                            </ol>
                            <h5>CHÍNH SÁCH HOÀN TIỀN</h5>
                            <p><span class="color"> -> </span> Với đơn hàng bị lỗi chúng tôi không hỗ trợ hoàn tiền vào lại tài khoản ngân hàng/ví momo/thẻ điện thoại mà chỉ hoàn tiền vào tài khoản của bạn trên hệ thống App Mua Like, tuy nhiên chúng tôi sẽ KHÔNG hoàn tiền trong trường hợp cố tình đe dọa, gây thiệt hại, tranh cãi. làm tổn thất, làm mất uy tín hoặc bất kỳ vấn đề nào mà chúng tôi cảm thấy bạn đang tác động xấu tới chúng tôi.</p>
                            <p><span class="color"> -> </span> Nếu bạn không đồng ý và tranh luận với chúng tôi, chúng tôi sẽ áp dụng đúng điều khoản và xóa tài khoản của bạn.</p>
                            <p><span class="color"> -> </span> Hoạt động gian lận sẽ bị khóa tài khoản.</p>
                            <p><span class="color"> -> </span> Khi đơn hàng đã được hoàn tiền 1 lần, nếu view/like/sub... tiếp tục tụt, chúng tôi không có trách nhiệm hoàn tiếp.</p>
                            <h5>CHÍNH SÁCH RIÊNG TƯ</h5>
                            <p><span class="color"> -> </span> Chúng tôi sẽ nghiêm túc giữ bí mật thông tin cá nhân và bảo vệ quyền riêng tư của bạn.</p>
                            <p><span class="color"> -> </span> Tất cả thông tin cá nhân chỉ được sử dụng cho mục đích đặt hàng tại website. Chúng tôi sẽ không bán hay phân phối lại cho bất kỳ ai.</p>
                            <h5>CHÍNH SÁCH NGƯỜI GIỚI THIỆU (AFFILIATE):</h5>
                            <p><span class="color"> -> </span> Bất kỳ trường hợp nào chúng tôi phát hiện gian lận sẽ lập tức khóa tài khoản và không thanh toán.</p>
                            <p><span class="color"> -> </span> Nếu người được giới thiệu yêu cầu rút tiền hoặc bị trừ tiền vì lý do nào đó thì hoa hồng bạn nhận được cũng sẽ giảm tương ứng.</p>
                            <p><span class="color"> -> </span> Nếu người được giới thiệu được giảm giá đặc biệt ở 1 dịch vụ nào đó, hoa hồng sẽ chỉ được cộng vào tài khoản trên website, hoặc nếu bạn yêu cầu rút tiền, chúng tôi sẽ hỗ trợ rút 50% số hoa hồng bạn nhận được.</p>
                            <p><span class="color"> -> </span> Nếu người được giới thiệu trở thành cộng tác viên và tài khoản giới thiệu cũng là cộng tác viên, người giới thiệu sẽ không nhận được hoa hồng của người được giới thiệu đó.</p>
                            <p><span class="color"> -> </span> Nếu cố tình đăng ký nhiều tài khoản thông qua link giới thiệu của chính mình chúng tôi sẽ khóa tài khoản và không thanh toán hoa hồng của tất cả tài khoản đó.</p>
                            <h5> THUẬT NGỮ HỆ THỐNG:</h5>
                            <p><span class="color"> -> </span> Trạng thái "Thành công": Đơn hàng được chạy xong 100%</p>
                            <p><span class="color"> -> </span> Trạng thái "Đang xử lý": Đơn hàng được tiếp nhận chờ chạy</p>
                            <p><span class="color"> -> </span> Trạng thái "Đang chạy": Hệ thống đang chạy đơn hàng</p>
                            <p><span class="color"> -> </span> Trạng thái "Tạm dừng": Đơn hàng bị lỗi dừng chạy</p>
                            <p><span class="color"> -> </span> Trạng thái "Đã hủy": Đơn hàng bị hủy bởi hệ thống</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div> 