.color {
    color: #0056C1;
}
.bor-nav-item {
    border-bottom: 1px solid #0056C1;
}
.bor-nav-maneybank {
    border: 1px solid #0056C1;
}
.input-banner {
    border: 1px solid #0056C1;
    width: 40%; 
    height: 30px;
}
.tr-hover:hover {
    background-color: #dee2e6;
}
.border-1 {
    border-bottom: 1px solid #0056C1;
}
.card {
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.border-top {
    border-top: 3px solid #0056C1 !important;
}