.text-dark {
    font-weight: bolder;
}
.input-group-text {
    padding: 0 15px;
}
.color {
    color: #0056C1;
}
.card {
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.card-1-1 {
    background-color: rgb(245, 247, 260); 
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.2), 0 1px 3px 1px rgba(0,0,0,0.2);
}