
<div id="">
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-end mb-0 he-55" style="margin-right: 30px;">

                <li class="dropdown d-none d-lg-inline-block mt--12 he-60 menu-hover" data-toggle="fullscreen" >
                    <a class="nav-link arrow-none waves-effect waves-light he-55" title="phóng to & thu nhỏ">
                        <i class="fe-maximize noti-icon font-18"></i>
                    </a>
                </li>

                <li class="dropdown d-none d-lg-inline-block topbar-dropdown font-18 mt--12 he-60" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"
                 title="ngôn ngữ">
                    <a class="nav-link arrow-none waves-effect waves-light he-55">
                        <img src="https://st.quantrimang.com/photos/image/2021/09/05/Co-Vietnam.png" alt="user-image" height="14">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/default/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Đức</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/default/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Ý</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/default/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Tây Ban Nha</span>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="assets/default/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Nga</span>
                        </a>

                    </div>
                </li>

                <li class="dropdown notification-list topbar-dropdown" style="margin-top: 7px;">
                    <a href="login" class="btn btn-secondary btn-sm">
                        <i class="fa-solid fa-folder"></i>
                        <span> Đăng Nhập </span>
                    </a>
                </li>

            </ul>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li class="he-55">
                    <button class="button-menu-mobile waves-effect waves-light he-55">
                        <div class="menu-hover" style="margin-top: -16px; height: 60px;">
                            <i class="fe-menu font-18"></i>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="left-side-menu">
        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="assets/default/images/logo-sm-dark.png" height="24">
                    <span class="logo-lg-text-light">Minton</span>
                </span>
                <span class="logo-lg">
                    <img src="assets/default/images/logo-dark.png" height="20">
                    <span class="logo-lg-text-light">M</span>
                </span>
            </a>
            <a href="index.html" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="assets/default/images/logo-sm.png" height="24">
                </span>
                <span class="logo-lg">
                    <img src="assets/default/images/logo-light.png" height="20">
                </span>
            </a>
        </div>
        <div class="h-100" data-simplebar>
        
            <div id="sidebar-menu">
                <ul id="side-menu">

                    <li>
                        <a routerLink="#">
                            <i class="fa-solid fa-folder"></i>
                            <span> Trang Chủ </span>
                        </a>
                    </li>

                    
                    <li>
                        <a routerLink="#">
                            <i class="fa-solid fa-folder"></i>
                            <span> Sản Phẩm/Dịch Vụ </span>
                        </a>
                    </li>

                    <li>
                        <a href="#DashboardsFacebook" data-bs-toggle="collapse" aria-expanded="false" aria-controls="false">
                            <i class="ri-dashboard-line"></i>
                            <span> Dịch Vụ Facebook+ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="DashboardsFacebook">
                            <ul class="nav-second-level">
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng like</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng sub/follow</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng comment</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng share</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng livestream</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng đánh giá fanpage</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng view video</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#DashboardsTiktok" data-bs-toggle="collapse" aria-expanded="false" aria-controls="false">
                            <i class="ri-dashboard-line"></i>
                            <span> Dịch Vụ Tiktok+ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="DashboardsTiktok">
                            <ul class="nav-second-level">
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng thả tim</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng follow</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng view</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng comment</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng share</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng tương tác livestream</a>
                                </li>
  
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#DashboardsInstagram" data-bs-toggle="collapse" aria-expanded="false" aria-controls="false">
                            <i class="ri-dashboard-line"></i>
                            <span> Dịch Vụ Instegram+ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="DashboardsInstagram">
                            <ul class="nav-second-level">
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng like</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng follow</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng comment</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng view</a>
                                </li>
                    
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#DashboardsYoutobe" data-bs-toggle="collapse" aria-expanded="false" aria-controls="false">
                            <i class="ri-dashboard-line"></i>
                            <span> Dịch Vụ Youtobe+ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="DashboardsYoutobe">
                            <ul class="nav-second-level">
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng like</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng follow</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng comment</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng mắt livestream</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng sub</a>
                                </li>
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng giờ xem</a>
                                </li>

                    
                            </ul>
                        </div>
                    </li>

                    
                    <li>
                        <a href="#Dashboardsgoogle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="false">
                            <i class="ri-dashboard-line"></i>
                            <span> Dịch Vụ Google+ </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <div class="collapse" id="Dashboardsgoogle">
                            <ul class="nav-second-level">
                                <li>
                                    <a routerLink="#"><i class="fa-solid fa-hotel mr-1"></i>Tăng đánh giá</a>
                                </li>
                    
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a routerLink="#">
                            <i class="fa-solid fa-users"></i>
                            <span> Cộng Tác Viên </span>
                        </a>
                    </li>

                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="row"><div class="col-12" style="height: 10px;"></div>
    </div>

        <router-outlet></router-outlet>

        <footer class="footer" style="padding: 4px 10px;">
            <div class="container-fluid">
                <div class="row font-12">
                    <div class="col-md-6">
                        <script>document.write(new Date().getFullYear())</script> &copy; <a href="">2023 INSOLTECH</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-sm-block">
                            <a href="javascript:void(0);">About Us</a>
                            <a href="javascript:void(0);">Help</a>
                            <a href="javascript:void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

        