<div class="content">
    <div class="">
        <div class="row mt-3 pt-2">
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body border-top">
                        <div class="">
                            <p class="m-b-0 text-uppercase">Số dư</p>
                            <div class="color">
                                <span class="font-22" style="float: right;"><i class="fe-dollar-sign" style="border: 1px solid; border-radius: 50%;"></i></span>
                                <div class="m-b-0 font-22">{{userprofile.money}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body border-top">
                        <div class="">
                            <p class="m-b-0 text-uppercase">CHI TIÊU HÔM NAY  </p>
                            <div style="color: #04AA6D;">
                                <span class="font-22" style="float: right;"><i class="ri-line-chart-line"></i></span>
                                <div class="m-b-0 font-22">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body border-top">
                        <div class="">
                            <p class="m-b-0 text-uppercase">TỔNG CHI TIÊU</p>
                            <div style="color: #4BC0C0;">
                                <span class="font-22" style="float: right;"><i class=" ri-bar-chart-box-line"></i></span>
                                <div class="m-b-0 font-22">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body border-top">
                        <div class="">
                            <p class="m-b-0 text-uppercase">TỔNG TIỀN NẠP</p>
                            <div style="color: #04AA6D;">
                                <span class="font-22" style="float: right;"><i class="ri-bar-chart-2-line"></i></span>
                                <div class="m-b-0 font-22">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="border-top p-2">
                        <h4 class="header-title mb-3">THỐNG KÊ THEO THÁNG</h4>
                        <canvas id="myChart"></canvas>
                    </div>
                </div> 
            </div> 
    
            <div class="col-lg-4">
                <div class="card">
                    <div class="border-top p-2">
                        <h4 class="header-title mb-3">TỔNG THÁNG</h4>
                        <canvas id="piechart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>