.color {
    color: #0056C1 !important;
}
.border-1 {
    border-bottom: 1px solid #0056C1;
}
.bor-nav-maneybank {
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
    background-color: rgb(245, 247, 255);
}
.input-banner {
    border: 1px solid #0056C1;
    width: 40%; 
    height: 30px;
}
.tr-hover:hover {
    background-color: #dee2e6;
    border-radius: 3px;
}
.active {
    color: black !important;
    margin-bottom: -2px;
    background-color: #fff;
    border: 1px solid #0056C1;
    border-bottom: 2px transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
td {
    vertical-align: middle !important;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.bx-trash:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #0056C1;
}
.card {
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 1rem;
}
.border-top {
    border-top: 3px solid #0056C1 !important;
}
.badge {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.current {
    padding: 0.1875rem 0.625rem;
    background-color: red !important;
    color: #fefefe;
    cursor: default;
}
