.color {
    color: #0056C1;
}
.bor-nav-item {
    border-bottom: 1px solid #0056C1;
}
.bor-nav-maneybank {
    border: 1px solid #0056C1;
}
.input-banner {
    border: 1px solid #0056C1;
    width: 40%; 
    height: 30px;
}
.tr-hover:hover {
    background-color: #dee2e6;
}
.active {
    z-index: 1;
    color: black !important;
    margin-bottom: -2px;
    background-color: #fff;
    border: 1px solid #0056C1;
    border-bottom: 3px transparent;
    border-radius: 3px;
}
td {
    vertical-align: middle !important;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
