<div class="container-fluid">
    <div class="row">
        <div class="mt-2"></div>
        <h1 class="color fw-light col-md-12">Up <span>{{facebook}}</span></h1>
        <div class="col-lg-9">
            <div class="card border-top">

                <form role="form" class="parsley-examples" [formGroup] = "Orderform1" (ngSubmit)="onSubmitOrder()">
                    <div >
                        <div class="card-body border-1" style="display: flex; flex-wrap: wrap;" >
                            <div class="col-md-4">
                                <h4 class="">Nhập Link bài Viết:</h4>
                            </div>
                            <div class="col-md-8">
                                <input parsley-trigger="change" type="text" style="width: 100%;" id="sid" formControlName="sid" hidden/>
                                <input parsley-trigger="change" class="m-1 p-2" type="url" id="url" formControlName="url" placeholder="Nhập link bài viết tại đây" style="width: 100%; height: 35px;">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <p><span class="color">-> </span> Vui lòng nhập đúng link bài viết và bật chế độ công khai trước khi mua.</p>
                                        <p><span class="color">-> </span> Vui lòng nhập đúng link bài viết và bật chế độ công khai trước khi mua.</p>
                                        <p><span class="color">-> </span> Vui lòng nhập đúng link bài viết và bật chế độ công khai trước khi mua.</p>
                                        <p><span class="color">-> </span> Vui lòng nhập đúng link bài viết và bật chế độ công khai trước khi mua.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="card-body border-1" style="display: flex; flex-wrap: wrap;">
                            <div class="col-md-4">
                                <h4 class="">Đơn Giá/1 Đơn Vị : </h4>
                            </div>
                            <div class="col-md-8">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <p>Tăng<span> {{facebook}} <span class="color">{{dongia}}đ/1 like</span></span> </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="card-body border-1" style="display: flex; flex-wrap: wrap;">
                            <div class="col-md-4">
                                <h4 class="">Số Lượng Tương Tác:</h4>
                            </div>
                            <div class="col-md-8">
                                <input type="number" value="100" class="p-2" id="quantity" formControlName="quantity" style="width: 100%; height: 35px;">
                            </div>
                        </div>
        
                        <div class="card-body pt-1 pb-1">
                            <div class="" style="text-align: end;">
                                <h4 class=" p-0 m-0">
                                    <a data-bs-toggle="modal" style=" font-size: 16px;" data-bs-target="#CheckOutShopping"
                                        class="btn btn-sm btn-primary p-2" title="Thanh Toán" (click)="thanhtoan()">
                                        <i class=" bx bx-cart-alt me-1"></i>
                                        Thanh Toán 
                                    </a>
                                </h4>
                            </div>
                        </div> 
                        
                        <!-- Thông báo thanh toán -->
                        <div class="modal fade" id="CheckOutShopping" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header border-1 p-2">
                                        <h4 class="modal-title color" id="exampleModalToggleLabel">Thanh Toán</h4>
                                        <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                    </div>
                                    <div class="modal-body text-center border-1">
                                        <h4 class="mb-2">Tổng Thanh Toán : <span>{{tongthanhtoan}}</span>đ</h4>
                                        <p class="mb-2">Mua 
                                            <span> {{facebook}} </span> 
                                            <span> với giá : </span>
                                            <span> {{this.dongia}} </span>
                                            <span>  x </span>
                                            <span> {{soluong}} </span>
                                        </p>
                                        <p class="mb-2">Nhấn OK Để Kết Thúc Mua Hàng</p>
                                    </div>
                                    <div class="modal-footer p-0">
                                        <a type="button" style="width: auto" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Hủy</a>
                                        <button type="submit" style="width: auto" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-dismiss="modal"> OK </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-lg-3">
         
            <div class="card border-top ">
                <div class="border-1">
                    <h4 class="text-center m-2"><i class="fa-solid fa-triangle-exclamation"></i> Lưu Ý </h4>
                </div>
                <div class="m-2 mb-0">
                    <p><span class="color">-> </span> Không cài 2 đơn cùng 1 Link ( ID ) tại 1 thời điểm. Vui lòng đợi đơn cũ chạy xong để tránh bị thiếu.</p>
                    <p><span class="color">-> </span> Vui lòng lấy đúng ID Bài viết, mở Công khai all đều Like được và kiểm tra kỹ trước khi tạo đơn hàng.  Bài viết đã chỉnh sửa có thể không chạy. Vui lòng cân nhắc.</p>
                    <p><span class="color">-> </span> Nhập ID lỗi hoặc Không mở Công khai nút Like trong thời gian chạy hoặc Xóa Bài viết đi thì hệ thống không hoàn lại tiền.</p>
                </div>
            </div>

            <div class="card border-top">
                <div class="border-1">
                    <h4 class="text-center p-2 m-0"><i class="fa-regular fa-circle-question"></i> Câu Hỏi Thường Gặp</h4>
                </div>
                <div style="max-height: 350px;" data-simplebar>
                    <div class="col-md-12">
                        <ul class="list-group-item p-1 m-1">
                            <a data-bs-toggle="collapse"  aria-controls="wrong" href="#wrong-link">Sao tôi lại nhập sai link?</a>
                            <div id="wrong-link" class="collapse">
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                                <p><span class="color"> -> </span> Vui lòng nhập đúng Link/ID, bật công khai và kiểm tra lại thông tin trước khi tạo đơn.</p>
                            </div>
                        </ul>
                        <ul class="list-group-item p-1 m-1">
                            <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="guarantee" href="#guarantee">Có chế độ bảo hành không?</a>
                            <div id="guarantee" class="collapse">
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                            </div>
                        </ul>
                        <ul class="list-group-item p-1 m-1">
                            <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="quantity" href="#quantity1"> Mua số lượng lớn có giảm giá không?</a>
                            <div id="quantity1" class="collapse">
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                            </div>
                        </ul>
                        <ul class="list-group-item p-1 m-1">
                            <a data-bs-toggle="collapse" aria-expanded="false" aria-controls="quantity" href="#quantity12"> Mua số lượng lớn có giảm giá không?</a>
                            <div id="quantity12" class="collapse">
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                                <p><span class="color"> -> </span> Tùy vào server bạn mua mà có chế độ bảo hành khác nhau. Hãy bấm vào nút "Xem chi tiết" của server bạn chọn để xem thông tin bảo hành.</p>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="p-1" style=" border-top: 1px solid #0056C1 !important;">
                    <div class="col-md-12 text-center menu-left p-1">
                        <a href="terms-services" target="_blank" class="font-12" style="padding: 14px 140px;">
                            <span class="fixed-table-toolbar" style="color: black;"> Xem Thêm <i class="fa-solid fa-angles-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
