<style>

</style>
<div class="container-fluid">
    <div class="row">
        <h2 class="color col-md-12 m-2">Dịch Vụ & Sản Phẩm</h2>
        <div class="col-lg-9">
            <div class="card">
                <div class="m-2">
                    <ul class="nav bor-nav-item ps-2">
                        <li class="nav-item" *ngFor="let menu of menu">
                            <a class="nav-link" data-bs-toggle="tab" href="#Product{{menu.id}}" aria-expanded="false" aria-controls="Product">{{menu.platfrom}} +</a>
                        </li>
                    </ul>
                    <div *ngFor="let menu of menu">
                        <div class="tab-content p-0">
                            <div class="tab-pane mt-3" id="Product{{menu.id}}" style="border: none;">
                                <div class="col-12">
                                    <h4 class="color m-1">Dịch Vụ {{menu.platfrom}}</h4>
                                    <div class="table-responsive">
                                        <table class="table table-centered mb-0" id="inline-editable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th class="text-center">Tác Vụ</th>
                                                    <th>Loại Dịch Vụ</th>
                                                    <th>Hoạt Động</th>
                                                    <th>Đơn Giá</th>
                                                </tr>
                                            </thead>
                                        
                                            <tbody>
                                              
                                                <tr class="tr-hover" *ngFor="let menu of menu.service">
                                                    <th class="text-center">
                                                        <a href="{{menu.path}}" title="Shoppping">
                                                            <i class="fe-shopping-cart p-2" ></i>
                                                        </a>
                                                    </th>
                                                    <td>{{menu.title}}</td>
                                                    <td>{{menu.path}}</td>
                                                    <td>{{menu.price}}</td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card text-center">
                <div class="p-2 m-1">
                    <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    <p class="m-0 p-0">welcome !!!</p>
                    <h4 class="bor-nav-item color m-0">{{username}}</h4>
                    <div class="text-start mt-3">
                        <div class="table-responsive">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                    <tr>
                                        <th scope="row">Họ & Tên :</th>
                                        <td class="text-muted">{{userprofile.fullname}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ngày Tham Gia :</th>
                                        <td class="text-muted">12/3/1234</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Vị Trí :</th>
                                        <td class="text-muted">Cộng Tác Viên</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tổng Đã Nạp :</th>
                                        <td class="text-muted">$ <span>100</span></td>
                                    </tr>
                                    <tr class="font-20 color">
                                        <th scope="row">Số Dư Hiện Tại:</th>
                                        <td>$<span class="">{{userprofile.money}} </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

